/* INPUT STYLING ------------------------------------------------------------------*/ 
#btnExploreTopic {
  text-align: center;
  border: 1px solid black;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

#inputTopic {
  width: 50%;
  font-size: 1.5rem;
}
.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
  margin-top: 1rem;
  height: 10%;
}

#stps {
  text-align: center;
  visibility: hidden;
}

#order {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  visibility: hidden;
}

#selectSubtopicOrder {
  margin-left: 5px;
  margin-right: 5px;
}

#inputSubtopicLimit {
  margin-left: 1rem;
  margin-right: 5px;
}

#topicContainer {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center; 
  gap: 1rem; /* adds spacing between buttons and h1 */
  margin: 0.5rem auto 1rem auto;
  background-color: gainsboro;
  text-align: center;
  width: fit-content;
  padding: 0.5rem;
  visibility: hidden;
}

/* todo - custom font size based on letter count of topic */
@media (max-width: 500px) {
  #topicContainer h1 {
    font-size: 0.85rem;
  }
}


/* EXPLORATION STYLING ------------------------------------------------------------------*/
#explorationContainer {
  display: flex;
  flex-direction: column !important;
  height: 100vh;
  max-width: 50vw;
  margin: 0 auto;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#btnDownload {
  padding: 0.5rem 1rem;
}

#subtopicContainer {
  flex: 0 0 auto; /* Don't let this grow or shrink automatically */
  max-height: 20vh; /* Keep the subtopic options list from taking over the screen */
  overflow-y: auto; /* Enable vertical scrolling if subtopic content exceeds max-height */
  width: 100%;
  background-color: orange !important;
}

#subtopicContainer p {
  background-color: white !important;
}

#subtopicContainer p:hover {
  background-color: black !important;
}

#explorationGraph {
  flex: 1 1 auto; /* Allow this to grow and shrink as needed */
  width: 100%;
  /* min-height: 400px; */
  background: #fff;
}

#subtopicContainer::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
  display: block; /* Ensure it is visible */
}
#subtopicContainer::-webkit-scrollbar-track {
  background: black; /* The track (progress bar) */
  border-radius: 10px;
}

#subtopicContainer::-webkit-scrollbar-thumb {
  background: white; /* The draggable bar */
  border-radius: 10px;
}

#subtopicContainer,
#explorationGraph {
  display: flex;
  flex: 1; /* This forces both divs to take up equal available space */
  flex-wrap: wrap;
  background-color: #fff;
  text-align: center;
  border: 1px solid #ddd; /* Optional: helps visualize the containers */
  flex-direction: row;
}

#explorationGraph {
  height: 50vh; /* Set a fixed height for the graph area */
  width: 100%;
  overflow: hidden;
}

/* BUTTON STYLING */
button {
  background-color: black;
  color: white;
}

button:hover {
  background-color: orange;
  color: black;
  cursor: pointer;
}

#btnBack,
#btnForward {
  height: fit-content;
  padding: 0.5rem;
}


/* UNIVERSAL STYLING ------------------------------------------------------------------*/
* {
  font-family: "Tiktok Sans";
}

@keyframes wobble {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-1deg) scale(1.01);
  }
  50% {
    transform: rotate(1deg) scale(0.99);
  }
  75% {
    transform: rotate(-0.5deg) scale(1.005);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

p {
  margin: 0.5rem; /* top right bottom left*/
  width: fit-content;
  padding: 5px;
  border: 1px solid black;
  animation: wobble 10s infinite ease-in-out;
}

p:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}